@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@media (max-width: 599px) {
  section#home {
    background: url("../assets/gorkha_alone.jpeg") no-repeat center center/cover;
  }
}
@media (min-width: 600px) {
  section#home {
    background: url("../assets/gorkha_alone.jpeg") no-repeat center center/cover;
  }
}
@media (min-width: 900px) {
  section#home {
    background: url("../assets/fisterra_handstand.jpg") no-repeat center center/cover;
  }
}

@media (max-width: 599px) {
  section#about {
    background: url("../assets/spain_dog.jpg") no-repeat center center/cover;
  }
}
@media (min-width: 600px) {
  section#about {
    background: url("../assets/spain_dog.jpg") no-repeat center center/cover;
  }
}
@media (min-width: 900px) {
  section#about {
    background: url("../assets/studious_collage.png") no-repeat center center/cover;
  }
}

@media (max-width: 599px) {
  section#adventures {
    background: url("../assets/kathmandu_kids.jpg") no-repeat center center/cover;
  }
}
@media (min-width: 600px) {
  section#adventures {
    background: url("../assets/kathmandu_kids.jpg") no-repeat center center/cover;
  }
}
@media (min-width: 900px) {
  section#adventures {
    background: url("../assets/adventure_collage.png") no-repeat center center/cover;
  }
}

@media (max-width: 599px) {
  section#contact {
    background: url("../assets/pokhara_friend.jpeg") no-repeat center center/cover;
  }
}
@media (min-width: 600px) {
  section#contact {
    background: url("../assets/pokhara_friend.jpeg") no-repeat center center/cover;
  }
}
@media (min-width: 900px) {
  section#contact {
    background: url("../assets/gorkha.jpg") no-repeat center center/cover;
  }
}

@media (max-width: 599px) {
  section#event-home {
    background: url("../assets/pelican.jpeg") no-repeat center center/cover;
  }
}
@media (min-width: 600px) {
  section#event-home {
    background: url("../assets/pelican.jpeg") no-repeat center center/cover;
  }
}
@media (min-width: 900px) {
  section#event-home {
    background: url("../assets/pool.jpeg") no-repeat center center/cover;
  }
}

@media (max-width: 599px) {
  section#event-info {
    background: url("../assets/pool.jpeg") no-repeat center center/cover;
  }
}
@media (min-width: 600px) {
  section#event-info {
    background: url("../assets/pool.jpeg") no-repeat center center/cover;
  }
}
@media (min-width: 900px) {
  section#event-info {
    background: url("../assets/plants.jpeg") no-repeat center center/cover;
  }
}

@media (max-width: 599px) {
  section#event-contact {
    background: url("../assets/plants.jpeg") no-repeat center center/cover;
  }
}
@media (min-width: 600px) {
  section#event-contact {
    background: url("../assets/plants.jpeg") no-repeat center center/cover;
  }
}
@media (min-width: 900px) {
  section#event-contact {
    background: url("../assets/pelican.jpeg") no-repeat center center/cover;
  }
}

@media (max-width: 599px) {
  section#whos-dean {
    background: url("../assets/roadster-cropped.png") no-repeat center center/cover;
  }
}
@media (min-width: 600px) {
  section#whos-dean {
    background: url("../assets/roadster-cropped.png") no-repeat center center/cover;
  }
}
@media (min-width: 900px) {
  section#whos-dean {
    background: url("../assets/roadster.jpeg") no-repeat center center/cover;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Code";
  background: #000;
  color: rgb(242, 242, 242);
  line-height: 1.6;
  /* height is important to use smooth scroll */
  height: 100vh;
  /* removes scrollbars */
  overflow: hidden;
}

a {
  color: rgb(242, 242, 242);
  text-decoration: none;
}
a:hover {
  color: rgb(57, 196, 247);
}

.container {
  width: 100%;
  height: 100%;
  /* CSS smoothscroll properties go here */
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* mandatory snaps to sesction (don't forget section scroll-snapalign */
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.navbar {
  background: linear-gradient(to top, hsla(0deg, 0%, 0%, 0) 0%, hsla(0deg, 0%, 0%, 0.01) 8.1%, hsla(0deg, 0%, 0%, 0.036) 15.5%, hsla(0deg, 0%, 0%, 0.078) 22.5%, hsla(0deg, 0%, 0%, 0.132) 29%, hsla(0deg, 0%, 0%, 0.194) 35.3%, hsla(0deg, 0%, 0%, 0.264) 41.2%, hsla(0deg, 0%, 0%, 0.338) 47.1%, hsla(0deg, 0%, 0%, 0.412) 52.9%, hsla(0deg, 0%, 0%, 0.486) 58.8%, hsla(0deg, 0%, 0%, 0.556) 64.7%, hsla(0deg, 0%, 0%, 0.618) 71%, hsla(0deg, 0%, 0%, 0.672) 77.5%, hsla(0deg, 0%, 0%, 0.714) 84.5%, hsla(0deg, 0%, 0%, 0.74) 91.9%, hsla(0deg, 0%, 0%, 0.75) 100%);
  top: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 50px;
}
@media (max-width: 599px) {
  .navbar {
    visibility: hidden;
  }
}
.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}
.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(242, 242, 242);
}
.navbar ul li a:hover {
  color: rgb(57, 196, 247);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

.border-div {
  padding: 1rem;
  color: rgb(242, 242, 242);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  border-width: 6px;
  border-style: solid;
  border-color: black;
  -o-border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
     border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
  border-bottom-style: hidden;
  border-top-style: hidden;
  background: linear-gradient(to bottom, hsla(0deg, 0%, 0%, 0.5) 0%, hsla(0deg, 0%, 0%, 0.497) 8.1%, hsla(0deg, 0%, 0%, 0.488) 15.5%, hsla(0deg, 0%, 0%, 0.474) 22.5%, hsla(0deg, 0%, 0%, 0.456) 29%, hsla(0deg, 0%, 0%, 0.435) 35.3%, hsla(0deg, 0%, 0%, 0.412) 41.2%, hsla(0deg, 0%, 0%, 0.387) 47.1%, hsla(0deg, 0%, 0%, 0.363) 52.9%, hsla(0deg, 0%, 0%, 0.338) 58.8%, hsla(0deg, 0%, 0%, 0.315) 64.7%, hsla(0deg, 0%, 0%, 0.294) 71%, hsla(0deg, 0%, 0%, 0.276) 77.5%, hsla(0deg, 0%, 0%, 0.262) 84.5%, hsla(0deg, 0%, 0%, 0.253) 91.9%, hsla(0deg, 0%, 0%, 0.25) 100%);
}
@media (max-width: 599px) {
  .border-div {
    max-width: 87%;
  }
  .border-div h1 {
    font-size: 1.6rem;
  }
  .border-div p {
    font-size: 1rem;
  }
}
@media (min-width: 600px) {
  .border-div {
    max-width: 75%;
  }
  .border-div h1 {
    font-size: 1.6rem;
  }
  .border-div p {
    font-size: 1rem;
  }
}
@media (min-width: 900px) {
  .border-div {
    max-width: 50%;
  }
  .border-div h1 {
    font-size: 4rem;
  }
  .border-div p {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=master.css.map */